@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Podkova&family=Poller+One&family=Roboto+Mono:wght@400&display=swap');

body{
    background-color: #232323;
}

@media(min-width: 1200px){
    .section_wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    /*Section1*/
    .card1{
        max-width: 1300px;
        height: 700px;
        margin: 60px 0 40px 0;
        padding: 40px 90px;
    }
    .about_me_header{
        font-size: 64px;
        margin-bottom: 80px;
    }
    .about_me_text{
        font-size: 24px;
        color: white;
        margin: 10px 60px;
        line-height: 30px;
    }
    .about_me_bottom{
        margin: 130px 80px 0 80px;
    }
    .btn_contact{
        margin: 60px;
        border: 4px solid #fff;
        border-radius: 70px;
        text-align: center;
        font-size: 24px;
        padding: 15px 25px;
    }
    .logo{
        width: 100px;
        height: 100px;
        margin: 30px 80px;
    }
    /*Section2*/
    .my_skills_header{
        font-size: 80px;
        -webkit-text-stroke: 5px #35e60d;
        margin: 40px;
    }
    .my_skills_text{
        font-family: Roboto Mono ;
        font-size: 20px;
        color: #e2e2e2;
        margin: 40px;
        line-height: 30px;
    }
    .column1{
        width: 600px;
    }
    .column2{
        width: 600px;
    }
    .columns_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    /*Section3*/
    .my_portfolio_header{
        font-size: 86px;
        margin: 10px;
    }
    .my_works img{
        width: 230px;
        height: 230px;
    }
    /*Section4*/
    form{
        width: 50%;
        display: flex;
        flex-direction: row;
        margin: 40px 0;
    }
    .contact_me_header{
        font-family: Poller One;
        font-size: 64px;
        width: 445px;
        height:  66px;
        color: #272727;
        background-color: #42d00f;
    }
    .short_input{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .input_name, .input_email{
        height: 45px;
        margin: 5px;
    }
    .input_subject {
        height: 60px;
        margin: 5px;
    }
    .input_message {
        height: 120px;
        margin: 5px;
    }
    .send_message_btn{
        padding: 10px 45px;
        font-size: 25px;
    }
}

@media(max-width: 1200px ){
    .section_wrapper{
        max-width: 970px;
        margin: 0 auto;
    }
    /*Section1*/
    .card1{
        height: 500px;
        margin: 30px;
    }
    .about_me_header{
        font-size: 55px;
        margin: 30px;
    }
    .about_me_text{
        font-size: 22px;
        color: white;
        margin: 10px 80px;
    }
    .about_me_bottom{
        margin: 70px 80px 0 80px;
    }
    .btn_contact{
        margin: 40px 0 0 80px;
        border: 4px solid #fff;
        border-radius: 70px;
        font-size: 22px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .logo{
        width: 80px;
        height: 80px;
        margin: 0 80px;
    }
    /*Section2*/
    .my_skills_header{
        font-size: 60px;
        -webkit-text-stroke: 3px #35e60d;
        margin: 40px;
    }
    .my_skills_text{
        font-family: Roboto Mono ;
        font-size: 20px;
        color: #e2e2e2;
        margin: 40px;
    }
    .column1{
       width: 450px;
    }
    .column2{
        width: 450px;

    }
    .columns_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    /*Section3*/
    .my_portfolio_header{
        font-size: 86px;
        margin: 10px;
    }
    .my_works img{
        width: 180px;
        height: 180px;
    }
    /*Section4*/
    form{
        width: 50%;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
    .contact_me_header{
        font-family: Poller One;
        font-size: 40px;
        width: 280px;
        color: #272727;
        background-color: #42d00f;
    }
    .input_name, .input_email{
        height: 40px;
    }
    .input_subject, .input_message{
        height: 60px;
    }
    .send_message_btn{
        padding: 10px 45px;
        font-size: 25px;
    }
    .short_input{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .input_name, .input_email{
        height: 45px;

    }
    .input_subject {
        height: 60px;
        margin: 5px;
    }
    .input_message{
        height: 120px;
        margin: 5px 5px 10px 5px;
    }
}

@media(max-width: 992px ){
    .section_wrapper{
        max-width: 800px;
        margin: 0 auto;
    }

    /*Section1*/

    .card1{
        height: 400px;
        margin: 30px;
    }
    .about_me_header{
      font-size: 40px;
    }
    .about_me_text{
        font-size: 20px;
        color: white;
        margin: 10px 80px;
    }
    .about_me_bottom{
        margin: 70px 80px 0 80px;
    }
    .btn_contact{
        margin: 20px 0 0 80px;
        border: 4px ;
        border-radius: 70px;
        text-align: center;
        font-size: 22px;
        padding: 5px;
    }
    .logo{
        width: 60px;
        height: 60px;
        margin: 0 80px;
    }
    /*Section2*/

    .my_skills_header{
        font-size: 50px;
        -webkit-text-stroke: 2px #35e60d;
        margin: 20px;
    }
    .my_skills_text{
        font-family: Roboto Mono ;
        font-size: 18px;
        color: #e2e2e2;
        margin: 10px 10px 10px 20px;
    }
    .column1{
        width: 360px;
    }
    .column2{
        width: 360px;
    }
    .columns_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    /*Section3*/
    .my_skills_header{
        font-size: 60px;
        margin: 20px;
    }
    .my_works img{
        max-width: 150px;
        height: 150px;
    }
    /*Section4*/
    form{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
    .contact_me_header{
        font-family: Poller One;
        font-size: 40px;
        width: 280px;
        color: #272727;
        background-color: #42d00f;
    }
    .short_input{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .input_name, .input_email{
        height: 40px;
    }
    .input_subject, .input_message{
        height: 60px;
    }
    .send_message_btn{
        padding: 13px 45px;
        font-size: 25px;
    }
    .input_name, .input_email{
        width: 50%;
        height: 45px;
        margin: 5px;
    }
    .input_subject {
        height: 60px;
        margin: 5px;
    }
    .input_message{
        height: 90px;
        margin: 5px 5px 10px 5px;
    }
}
@media(max-width: 767px ){
    .section_wrapper{
        width: 500px;
        margin: 0 auto;
    }
    /*Section1*/

    .card1{
        height: 250px;
        margin: 30px;

    }
    .about_me_header{
        font-size: 25px;
    }
    .about_me_text{
        font-size: 15px;
        margin: 10px 10px;
    }
    .about_me_bottom{
        margin: 10px;
    }
    .btn_contact{
        margin: 10px 0 50px 10px;
        border: 2px;
        border-radius: 70px;
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }
    .logo{
        width: 40px;
        height: 40px;
        margin: 0 30px 10px 0;
    }


    .column1{
        margin: 0 auto;
        width: 100%;

    }
    .my_skills_text{
        font-size: 16px;
        line-height: 20px;
        color: white;
        margin: 10px 80px;
    }
    .my_skills_header{
        font-size: 50px;
        margin: 10px 80px;
    }
    .column2{
        width: auto;
        margin: 0 auto;
    }
    .columns_wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .my_portfolio_header{
        font-size: 50px;
        margin: 0 auto;
    }
    /*Section4*/
    form{
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_me_header{
        font-family: Poller One;
        font-size: 35px;
        width: 240px;
        color: #272727;
        background-color: #42d00f;
        margin: 0 auto;
    }
    .short_input{
        display: flex;
        flex-direction: column;
        padding-right: 10px ;
    }
    .input_name, .input_email{
        height: 40px;
        margin: 5px;
    }
    .input_subject {
        height: 60px;
        margin: 5px;
    }
    .input_message{
        height: 90px;
        margin: 5px;
    }
    .send_message_btn{
        padding: 10px 40px;
        font-size: 22px;
    }


    .footer{
        padding: 4px;
    }
    .social_media_icons{
        margin: 2px;
        width: 30px;
        height: 30px;
    }
    .footer_text{
        font-size: 18px;
    }

}

@media(max-width: 500px ){
    .section_wrapper{
        width: auto;
        margin: 0 auto;
    }
    /*Section1*/

    .card1{
        display: flex;
        height: 200px;
        margin: 30px;

    }
    .about_me_header{
        font-size: 15px;
    }
    .about_me_text{
        width: 90%;
        font-size: 10px;
        color: white;
        margin: 0;
    }
    .about_me_bottom{
        padding: 10px;
    }
    .btn_contact{
        margin: 10px 0 15px 10px;
        border: 1px solid;
        border-radius: 70px;
        text-align: center;
        font-size: 10px;
        padding: 5px;
    }
    .logo{
        width: 30px;
        height: 30px;
        margin: 0 30px 0 0;
    }


    .coloumns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column1{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .my_skills_text{

        width: 90%;
        font-size: 15px;
        line-height: 18px;
        color: white;
    }
    .my_skills_header{
        font-size: 30px;

    }
    .column2{
        width: auto;
        margin: 0 auto;
        padding: 0 40px;
    }
    .columns_wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    /*Section3*/
    .my_portfolio_header{
        font-size: 30px;
        margin: 0 0 10px 50px ;
    }
    .my_works img{
        max-width: 100px;
        height: 100px;
    }
    /*Section4*/
    form{
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_me_header{
        font-family: Poller One;
        font-size: 35px;
        width: 240px;
        color: #272727;
        background-color: #42d00f;
        margin: 0 auto;
    }
    .short_input{
        display: flex;
        flex-direction: column;
        padding-right: 10px ;
    }
    .input_name, .input_email{
        height: 40px;
        margin: 5px;
    }
    .input_subject {
        height: 60px;
        margin: 5px;
    }
    .input_message{
        height: 90px;
        margin: 5px;
    }
    .send_message_btn{
        padding: 10px 40px;
        font-size: 22px;
    }


    .footer{
        padding: 4px;
    }
    .social_media_icons{
        margin: 2px;
        width: 25px;
        height: 25px;
    }
    .footer_text{
        font-size: 18px;
    }
}


.section1_wrapper{
    background-image: url("img/Component 4.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.about_me_bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    color: #1cc2e3;
}

.card1{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right top,  rgba(52, 52, 52, 0.2), rgba(152, 152, 152, 0.2) , rgba(254, 251, 251, 0.2));
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: 2px solid rgba(251, 251, 251, 0);
    position: relative;
    z-index: 1;
}

.card1:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/Rectangle20.png);
    mix-blend-mode: soft-light;
    opacity: 0.3;
    border-radius: 40px;
    z-index: 2;
}
.about_me_header{
    font-family: Poller One;
    color: #15d700;
}


.card_text{
    color: white;
}

.btn_contact{
    border: solid;
    border-radius: 60px;
    text-align: center;
}


/****************** Section 2 *******************/

.my_skills_header{
    font-family: Poller One;
    color: transparent;
}

.my_skills_text{
    font-family: Roboto Mono ;
    color: #e2e2e2;
}

#myCanvas {
    /*min-width: 600px;
    min-height: 600px;*/
    height: 100%;
    width: 100%;
}
/****************** Section 3 *******************/
.my_portfolio{
    display: flex;
    flex-direction: column;
}

.my_portfolio_header{
    font-family: Poller One;
    font-weight: 400;
    background-image: radial-gradient(34% 598% at 1.51% 100%, #A854FD 17%, #4C93FF 60%, #29FFCC 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.my_works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.my_works img{
    object-fit: cover;
    align-self: center;
}

/****************** Section 4 *******************/

.contact_section_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact_me_header{
    font-family: Poller One;
    color: #272727;
    background-color: #42d00f;
    margin: 0 auto;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
}

input::placeholder{
    font-size: 25px;
    font-family: Podkova;

}

/*.input{
    margin: 10px 5px;
    height: 70px;
    width: 55% ;
    background-color: #272727;
    border:  2px solid #504E4E;
}

.textarea_subject{
    margin: 10px 5px;
    width: 100%;
    height: 80px;
    background-color: #272727;
    border:  2px solid #504E4E;
}

.textarea_message{
    margin: 10px 5px 20px 5px;
    width: 640px;
    height: 280px;
    background-color: #272727;
    border:  2px solid #504E4E;
}*/

.input_name, .input_email, .input_subject, .input_message{
    width: 100%;
    background-color: #272727;
    border:  2px solid #504E4E;
}

.send_message_btn{
    margin: 0 auto;
    background-color: #272727;
    border: 1px solid #1FFF01;
    color: #1FFF01;
    font-family: Podkova;
}

.send_message_btn:hover{
    background-color: #15d700;
    border: none;
    color: #272727;
    border-radius: 5px;
}

/*
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}*/
/****************** Footer *******************/

footer{
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons_container{
    margin: 30px 0 0 0 ;
}

.footer_text{
    color: #763bd4;
    margin: 20px 0 30px 0;
}




